// Indent pills
.nav-pills.nav-stacked {
  .nav-pills.nav-stacked {
    padding-left: 1rem;
  }
}

// Desktop menu
.menu.inside {
  @include make-col-ready();
  @include make-col(3);
  @include float-right();
  @include media-breakpoint-down(md) {
    display: none;
  }
}

// Mobile menu

/*
 * +--------+----+
 * |        | xx |
 * |   +----+ xx |
 * |   +----+ xx |
 * +---+----+----+
 * |   |
 * $main-left
 *     |    |
 *     $toggle-width
 *          |    |
 *          menu
 */

// Width of the original page that is left in, not counting the width of the toggle.
$main-left: 30px;
// Reserved width for the toggle toggle
$toggle-width: 48px;
// Transition duration and mode
$transition: 0.3s ease-in-out;

.menu.outside {
  position: fixed;
  left: 0;
  transform: translate3d(calc(100% - #{$toggle-width}), 0, 0);
  z-index: 9999;
  width: 100%;
  height: 100%;

  transition: transform $transition;

  @include media-breakpoint-up(lg) {
    visibility: hidden;
  }

  > .toggle {
    position: fixed;
    bottom: 10px;
    cursor: pointer;
  }

  > nav {
    background: white;
    margin-left: $toggle-width;
    margin-right: $main-left;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-right: 1rem;

    &::after {
      position: absolute;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      box-shadow: 0 0 75px 0 rgba(0,0,0,0.3);
      transition: opacity $transition;
    }
  }

  @include media-breakpoint-down(md) {
    &.show {
      transform: translate3d(#{$main-left}, 0, 0);

      > nav::after {
        opacity: 1;
      }
    }
  }
}

.sponsor {
  color: hsl(0, 0%, 51%);
}

#carbonads {
  font-size: 10px;
  font-family: Verdana;
}
#carbonads > span {
  display: flex;
  flex-direction: column;
  border: 1px solid $brand-primary;
  border-radius: 4px;
  background: white;
  margin: 0 auto;
}
.carbon-poweredby {
  display: block;
  order: -1;
  background: $brand-primary;
  border-color: $brand-primary;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 5px 10px;
  color: white !important;
  text-decoration: none !important;
}
.carbon-wrap {
  padding: 5px 10px;
}
.carbon-img {
  display: block;
  text-align: center;
}
.carbon-text {
  color: black !important;
  text-decoration: none !important;
}
