// Indent pills
.nav-pills.nav-stacked {
  .nav-pills.nav-stacked {
    padding-left: 1rem;
  }
}

// Desktop menu
.menu.inside {
  @include media-breakpoint-down(md) {
    display: none;
  }
}

// Mobile menu

/*
 * +--------+----+
 * |        | xx |
 * |   +----+ xx |
 * |   +----+ xx |
 * +---+----+----+
 * |   |
 * $main-left
 *     |    |
 *     $toggle-width
 *          |    |
 *          menu
 */

// Width of the original page that is left in, not counting the width of the toggle.
$main-left: 30px;
// Reserved width for the toggle toggle
$toggle-width: 48px;
// Transition duration and mode
$transition: 0.3s ease-in-out;

.menu.outside {
  position: fixed;
  left: 0;
  transform: translate3d(calc(100% - #{$toggle-width}), 0, 0);
  z-index: 9999;
  width: 100%;
  height: 100%;

  transition: transform $transition;

  @include media-breakpoint-up(lg) {
    visibility: hidden;
  }

  > .toggle {
    position: fixed;
    bottom: 10px;
  }

  > nav {
    background: white;
    margin-left: $toggle-width;
    margin-right: $main-left; // FIXME
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-right: 1rem;

    &::after {
      position: absolute;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      box-shadow: 0 0 75px 0 rgba(0,0,0,0.3);
      transition: opacity $transition;
    }
  }

  @include media-breakpoint-down(md) {
    &.show {
      transform: translate3d(#{$main-left}, 0, 0);

      > nav::after {
        opacity: 1;
      }
    }
  }
}
