@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic|PT+Sans:400,400italic,700,700italic);

@import "_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

pre {
  background-color: white;
  border: 2px solid black;
  padding: 6px;
  margin-left: -8px;
  margin-right: -8px;
}

code {
  white-space: pre-wrap;
}

.nav-pills.nav-stacked {
  .nav-pills.nav-stacked {
    padding-left: 1rem;
  }
}
