@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic|PT+Sans:400,400italic,700,700italic);

@import "~bootstrap/scss/_variables.scss";

$font-family-base: PT Sans, $font-family-serif;
$headings-font-family: Arvo, sans-serif;
$headings-font-weight: 700;

@import "~bootstrap/scss/bootstrap.scss";

pre {
  border: 2px solid black;
  padding: 6px;
  margin-left: -8px;
  margin-right: -8px;
}
