@import "base.scss";

.CodeMirror {
  height: auto;
  border: 2px solid black;
  margin-left: -8px;
  margin-right: -8px;
}

.CodeMirror pre {
  font-size: 90%;
  padding: 0 6px;
}

.CodeMirror-lines {
  padding: 6px 0;
}

.preview-wrapper {
  margin-top: 16px;
  margin-bottom: 16px;
}

.header-anchor {
  // font-size: $small-font-size;
  font-size: 80%;
  opacity: 0;
  transition: opacity .5s ease-out;
}

:hover > .header-anchor {
  opacity: 1;
}
