
mixin menu
  mixin menuGroup(path)
    - var isCurrent = id.indexOf(path) === 0

    a.nav-link= _.menu[path]

    ul.nav.nav-pills.nav-stacked
      block

  mixin menuItem(path)
    a.nav-link(
      href=addLanguage(path)
      class={active: path === id}
    )= _.menu[path]

  // nav placeholder
  nav.nav.nav-pills.nav-stacked
    +menuGroup('/api')
      +menuItem('/api/getting-started')
      +menuItem('/api/express')
      +menuItem('/api/reference')
      +menuItem('/api/migration-v2')

    +menuGroup('/language')
      +menuItem('/language/attributes')
      +menuItem('/language/case')
      +menuItem('/language/code')
      +menuItem('/language/comments')
      +menuItem('/language/conditionals')
      +menuItem('/language/doctype')
      +menuItem('/language/filters')
      +menuItem('/language/includes')
      +menuItem('/language/inheritance')
      +menuItem('/language/interpolation')
      +menuItem('/language/iteration')
      +menuItem('/language/mixins')
      +menuItem('/language/plain-text')
      +menuItem('/language/tags')
