extends _main.pug

block content
  nav.menu.inside
    +menu
  article.main
    != rawHtml
    div(style="margin-top: 50px")
      .AW-Form-692213006

block after
  script(src='/js/pug.js')
  script(src='/js/generic.js')
