extends main.pug

block content
  .col-lg-3.pull-lg-right
    +nav
  .col-lg-9
    != rawHtml

block after
  script.
    var demos=!{JSON.stringify(demos || [])};
  script(src='/pug.bundle.js')
  script(src='/language.bundle.js')
