extends generic.pug

block after
  script.
    var demos=!{JSON.stringify(demos || [])};
  script(src='/js/pug.js')
  each script in extraScripts || []
    script(src=script)
  script(src='/js/language.js')
