extends generic.pug

block after
  script.
    var demos=!{JSON.stringify(demos || [])};
  script(src='/js/pug.js')
  each mod in extraMods || []
    script(src=`https://wzrd.in/bundle/${mod}`)
  script(src='/js/language.js')
