extends generic.pug

block after
  script.
    var demos=!{JSON.stringify(demos || [])};
  script(src='/js/pug.js')
  if extraMods && extraMods.length
    script(src=`/js/bundle/${extraMods.map(m => m.split('@')[0]).join(',')}.js`)
  script(src='/js/language.js')
