extends layout.pug

mixin nav(prefix)
  mixin navItem(path, noLink)
    a.nav-link(
      href=noLink ? false : relative(dirname(id), path + '.html')
      class={
        active: !noLink && path === id
      }
    )= _.nav[path]

  // nav placeholder
  nav.nav.nav-pills.nav-stacked
    +navItem('api', true)
    ul.nav.nav-pills.nav-stacked
      +navItem('api/getting-started')
      +navItem('api/express')
      +navItem('api/reference')
    +navItem('language', true)
    ul.nav.nav-pills.nav-stacked
      +navItem('language/case')
      +navItem('language/code')
      +navItem('language/comments')
      +navItem('language/conditionals')
      +navItem('language/doctype')
      +navItem('language/extends')
      +navItem('language/filters')
      +navItem('language/includes')
      +navItem('language/inheritance')
      +navItem('language/interpolation')
      +navItem('language/iteration')
      +navItem('language/mixins')
      +navItem('language/plain-text')
      +navItem('language/tags')

block head
  title #{title} &ndash; Pug

block body
  .container
    block content
  block after
